.article {
    margin-bottom: .5em;
    margin-top: .5em;
}


.article-title a {
    color: white;
}

.article-title {
    font-size: 1.5rem;
    background: blue;
}

.article-title-button {
    font-size: 1rem;
    float: right;
    color: rgb(116, 116, 143);
}
.card a.article-title-button {
    color: rgb(116, 116, 143);
}

.card {
    background: rgba(255,255,255, 0.9);
}